################################################################################
#  (c) Bernecker + Rainer Industrie-Elektronik Ges.m.b.H.
#      A-5142 Eggelsberg, B&R Strasse 1
#      www.br-automation.com
################################################################################

source create-this-app.settings

AMI_LIB_NAME=ami
AMI_TARGET_DIR=${AMI_DIR}

AMI_INCLUDE="${AMI_DIR}/include \
${TARGET_DIR}/include "

AMI_PUB_INCLUDE="${AMI_DIR}/include"

AMI_SRC="${AMI_DIR}/amilittle.c "

