################################################################################
#  (c) Bernecker + Rainer Industrie-Elektronik Ges.m.b.H.
#      A-5142 Eggelsberg, B&R Strasse 1
#      www.br-automation.com
################################################################################

source create-this-app.settings

APPIF_LIB_NAME=appif
APPIF_TARGET_DIR=${APPIF_DIR}

APPIF_INCLUDE="${APPIF_DIR}/include \
${APPIFCOMMON_DIR}/include \
${CONFIG_DIR}/tbuf/include \
${TARGET_DIR}/include \
${AMI_DIR}/include "

APPIF_PUB_INCLUDE="${APPIF_DIR}/include"

APPIF_SRC="${APPIF_DIR}/internal.c \
${APPIF_DIR}/error.c \
${APPIF_DIR}/status.c \
${APPIF_DIR}/stream.c \
${APPIF_DIR}/pdo.c \
${APPIF_DIR}/async.c \
${APPIF_DIR}/cc.c "

