################################################################################
#  (c) Bernecker + Rainer Industrie-Elektronik Ges.m.b.H.
#      A-5142 Eggelsberg, B&R Strasse 1
#      www.br-automation.com
################################################################################

source create-this-app.settings

APPIFCOMMON_LIB_NAME=appifcommon
APPIFCOMMON_TARGET_DIR=${APPIFCOMMON_DIR}

APPIFCOMMON_INCLUDE="${APPIFCOMMON_DIR}/include \
${CONFIG_DIR}/tbuf/include \
${TARGET_DIR}/include \
${AMI_DIR}/include "

APPIFCOMMON_PUB_INCLUDE="${APPIFCOMMON_DIR}/include"

APPIFCOMMON_SRC="${APPIFCOMMON_DIR}/timeout.c \
${APPIFCOMMON_DIR}/ccobject.c "

